{% extends 'frontend/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('frontend_home') }}
{% endblock %}

{% block title %}LaserTag Dark Zone{% endblock %}

{% block body %}

    {% include 'frontend/components/hero.twig' %}
    {% include 'frontend/components/usp.twig' %}
    {% include 'frontend/components/productCards.twig' %}
    {% include 'frontend/components/contact.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('frontend_home') }}
{% endblock %}