{% extends 'frontend/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('frontend_lasertag') }}
{% endblock %}

{% block title %}LaserTag{% endblock %}

{% block body %}
    <div id="heroCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner darken" role="listbox">
            <div class="carousel-item darken active" style="background-image: url('/build/images/5.jpg')"></div>
        </div>
    </div>

    <div class="heroText container">
        <div class="row">
            <h1>LaserTag mit Zone Helios Pro</h1>
        </div>
        <div class="hero-lasertag row">
            <div class="col-md-6">
                <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>auf einer Größe von 1260 m²</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>unter Schwarzlicht</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>VIP Lounge mit direktem Blick auf die Arena</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>bis zu 30 Player</li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Kinder spielberechtigt ab einer Größe von 138 cm</li>
                </ul>
                <a type="button" class="btn btn-success btn-lg btn-block smooth-scroll" href="#priceListLaserTag">
                    Preise
                    <i class="fas fa-angle-double-down"></i>
                </a>
            </div>
        </div>
    </div>

    {% include 'frontend/components/priceListLaserTag.twig' %}
    {% include 'frontend/components/galleryLaserTag.twig' %}
    {% include 'frontend/components/contact.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('frontend_lasertag') }}
{% endblock %}