@import "global";
@import "components/navbar";
@import "components/hero";
@import "components/usp";
@import "components/productCards";
@import "components/contact";
@import "components/footer";

body, html {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

.btn-success {
  background-color: limegreen !important;
}