@import "global";
@import "components/navbar";
@import "components/hero";
@import "components/contact";
@import "components/footer";
@import "~baguettebox.js/dist/baguetteBox.min.css";

body, html {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

.btn-success {
  background-color: limegreen !important;
}

.hero-lasertag ul {
  text-align: left;
  color: white;
  margin: 1em;
}

.hero-lasertag {
  .fa-check{
    color: lime;
  }
}

#priceListLaserTag:before {
  display: block;
  content: " ";
  margin-top: -65px;
  height: 65px;
  visibility: hidden;
}