.carousel-item {
  //opacity: 0.8;
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}

.darken {
  background-color: rgba(0, 0, 0, 0.5);
}

.heroText {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1, h2, h3, h4 {
    color: white;
    font-weight: bold;
  }
}