.product-cards-container {
  padding: 1rem;

  .col-sm {
    padding: 1rem;
  }
}

@media (min-width: 768px) {
  .left {
    margin-right: 0;
    margin-left: auto;
  }

  .right {
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 789px){
  .left {
    margin: auto;
  }

  .right {
    margin: auto;
  }
}

.card {
  max-width: 50vh;
  transition: all 1s;
}

.card:hover {
  transform: scale(1.1);
}

.product-cards-title{
  padding: 2rem;
  justify-content: center;
  text-align: center;
}

.card-img-overlay{
  h5 {
    text-align: center;
  }
  background-color: rgba(0, 0, 0, 0.5);
}