.usp-elements {
  padding: 2rem;
  .col-sm {
    text-align: center;
    padding: 0.3rem;
  }
}

.usp-title{
  padding: 2rem;
  justify-content: center;
  text-align: center;
}

#usp:before {
  display: block;
  content: " ";
  margin-top: -65px;
  height: 65px;
  visibility: hidden;
}