<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            {% include 'frontend/components/navbar.twig' %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            {% include 'frontend/components/footer.twig' %}
        {% endblock %}
        {% block javascripts %}
            <script src="https://kit.fontawesome.com/4be68f7db3.js" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
