<section id="contactNow">
    <div class="container-fluid contact-now">
        <div class="row">
            <div class="container-fluid">
                <h4>Haben Sie weitere Fragen oder möchten gerne reservieren? Kontaktieren Sie uns:</h4>
            </div>
            <div class="container-fluid">
                <a href="tel:+4969 93999454" class="btn btn-outline-info">
                    <i class="fas fa-phone fa-2x"></i>
                </a>
                <a href="mailto:info@lasertag-dark-zone.de" class="btn btn-outline-info">
                    <i class="far fa-envelope fa-2x"></i>
                </a>
                <a href="#" class="btn btn-outline-info">
                    <i class="fab fa-whatsapp fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
</section>