<div class=" container-fluid gallery">
    <h2 style="text-align: center;">Bilder</h2>
    <div class="row justify-content-center">
        <div class="col-md-6 ">
            <a href="/build/images/1.jpg">
                <img src="/build/images/1.jpg" class="img-fluid rounded">
            </a>
        </div>
        <div class="col-sm-4 d-none">
            <a href="/build/images/2.jpg">
                <img src="/build/images/2.jpg" class="img-fluid rounded">
            </a>
        </div>
        <div class="col-sm-4 d-none">
            <a href="/build/images/3.jpg">
                <img src="/build/images/3.jpg" class="img-fluid rounded">
            </a>
        </div>
    </div>
</div>