<div id="heroCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner darken" role="listbox">
        <div class="carousel-item darken active" style="background-image: url('/build/images/5.jpg')"></div>
        <div class="carousel-item darken" style="background-image: url('/build/images/2.jpg')"></div>
        <div class="carousel-item darken" style="background-image: url('/build/images/3.jpg')"></div>
        <div class="carousel-item darken" style="background-image: url('/build/images/4.jpg')"></div>
        <div class="carousel-item darken" style="background-image: url('/build/images/1.jpg')"></div>
        <div class="carousel-item darken" style="background-image: url('/build/images/6.jpg')"></div>
    </div>
</div>

<div class="heroText">
    <h1>LaserTag Dark Zone</h1>
    <h4>LaserTag & Bubble Soccer in Offenbach</h4>
    <a type="button" class="btn btn-success smooth-scroll" href="#usp">
        Mehr
        <i class="fas fa-angle-double-down"></i>
    </a>
</div>