<nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top">
    <a class="navbar-brand" href="/">
        <img src="build/images/logo-small.svg" width="160em">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse w-100" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('lasertag') }}">LaserTag</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Bubble Soccer</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Location</a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Gruppen & Events
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Schulklassen</a>
                    <a class="dropdown-item" href="#">Unternehmen</a>
                    <a class="dropdown-item" href="#">Jungesellenabschiede</a>
                    <a class="dropdown-item" href="#">Geburtstage</a>
                </div>
            </li>
        </ul>
    </div>
</nav>