<div id="priceListLaserTag">
    <table id="priceListLaserTag" class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Angebot</th>
            <th scope="col">Dauer in Stunden</th>
            <th scope="col">Preis in € p.P.</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Montags Flatrate inkl. eine Cola</td>
            <td>3</td>
            <td>19,90</td>
        </tr>
        <tr>
            <td rowspan="4">Dienstag & Donnerstag</td>
            <td>0,5</td>
            <td>5,00</td>
        </tr>
        <tr>
            <td>1</td>
            <td>10,00</td>
        </tr>
        <tr>
            <td>1,5</td>
            <td>15,00</td>
        </tr>
        <tr>
            <td>2</td>
            <td>20,00</td>
        </tr>
        <tr>
            <td>Mittwochs-Angebot: 2 Personen spielen eine zahlt</td>
            <td>3</td>
            <td>20,00</td>
        </tr>
        <tr>
            <td rowspan="4">Freitag-Sonntag</td>
            <td>0,5</td>
            <td>10,00</td>
        </tr>
        <tr>
            <td>1</td>
            <td>15,00</td>
        </tr>
        <tr>
            <td>1,5</td>
            <td>20,00</td>
        </tr>
        <tr>
            <td>2</td>
            <td>25,00</td>
        </tr>
        <tr>
            <td>Samstag & Sonntag Familien Flatrate 10:00 Uhr bis 13:00 Uhr</td>
            <td>3</td>
            <td>19,90</td>
        </tr>
        <tr>
            <td rowspan="2">VIP Lounge</td>
            <td>1</td>
            <td>50,00</td>
        </tr>
        <tr>
            <td>3</td>
            <td>100,00</td>
        </tr>
        <tr>
            <td colspan="2">LaserTag Member-Karte</td>
            <td>2,00</td>
        </tr>
        </tbody>
    </table>
</div>