<section id="productCards">
    <hr>
    <div class="container-fluid product-cards-container">
        <div class="row">
            <div class="col-sm">
                <a href="{{ path('lasertag') }}">
                    <div class="card bg-dark text-white left">
                        <img src="{{ asset('build/images/lasertag.jpg') }}" class="card-img">
                        <div class="card-img-overlay">
                            <h5 class="card-title">LaserTag</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a href="#">
                    <div class="card bg-dark text-white right">
                        <img src="{{ asset('build/images/bubble_soccer.jpg') }}" class="card-img">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Bubble Soccer</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <hr>
</section>