<section id="usp" >
    <div class="container-fluid usp-container">
        <div class="row usp-title">
            <h2>Was dich bei uns erwartet</h2>
        </div>
        <div class="row usp-elements">
            <div class="col-sm">
            <span style="color: Tomato;">
                <i class="fas fa-expand fa-4x"></i>
            </span>
                <h4>Größte Anlage in Hessen</h4>
                <p>Mit 1260 m² bieten wir die größte Anlage in Hessen. Bis zu 30 Player gleichzeitig möglich.</p>
            </div>
            <div class="col-sm">
            <span style="color: Dodgerblue;">
                <i class="fas fa-pizza-slice fa-4x"></i>
            </span>
                <h4>Snacks & Anlagen</h4>
                <p>Snacks und Getränke erhältlich. Großer Wartebereich für Pausen und Wartezeiten inklusive Duschen.</p>
            </div>
            <div class="col-sm">
            <span style="color: Limegreen;">
                <i class="fas fa-futbol fa-4x"></i>
            </span>
                <h4>Bubble Soccer</h4>
                <p>Kombinieren Sie LaserTag und Bubble Soccer für doppelten Spaß.</p>
            </div>
        </div>
    </div>
</section>
